<div class="container page-container">
    <div class="row">
        <div class="col-12">
            <h1>Foster Care Stories</h1>
            <p class="subtitle">A Light at the End of Every Tunnel</p>
        </div>
    </div>
    <mat-divider class="mb-2"></mat-divider>
    <div class="row">
        <div class="col-12">
            <p>Below are some of examples of how a highly supportive foster care program can
                make a difference. Success stories aren't just about how well the children have done at Safe Harbours,
                they are also about how each family and home has been touched by the lives of the children in their
                care.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-lg-4 mb-3">
            <mat-card>
                <img mat-card-image src="assets/images/kids-banner.jpg" alt="Andrea and Donna">
                <mat-card-content>
                    <h2 class="card-title">Andrea &amp; Donna<br>LGBTQ Foster Care Family</h2>
                    <p class="card-text">Foster care was a great choice for Andrea and Donna. As an LGBTQ family, they
                        were frustrated with the many false starts with the adoption process. Becoming foster parents,
                        they were able to care for many children and adopted Sarah.</p>
                    <p class="card-text">Sarah came to them from a deeply traumatic background and had many issues
                        around trust and attachment. The safe, understanding and loving environment Andrea and Donna
                        provide was essential to the progress Sarah has made.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-lg-4 mb-3">
            <mat-card>
                <img mat-card-image src="assets/images/happy-father-daughter-dock.jpg" alt="Michael">
                <mat-card-content>
                    <h2 class="card-title">Michael<br>Single Dad Caring for Children</h2>
                    <p class="card-text">A few years before deciding to become a foster parent, Michael lost his wife
                        to an automobile accident. He wanted to be a parent but finding another partner was difficult.
                        Michael has been a wonderful foster dad and takes his foster children everywhere.</p>
                    <p class="card-text">The key to Michael's success in foster parenting has been to keep the kids
                        busy with indoor and outdoor activities and always listening and understanding.</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-lg-4 mb-3">
            <mat-card>
                <img mat-card-image src="assets/images/sad-boy.jpg" alt="David">
                <mat-card-content>
                    <h2 class="card-title">David<br>Traumatic Past to Loving Family</h2>
                    <p class="card-text">In 2013, David came into care from several failed foster care placements and
                        it seemed that his only option was to live in a group home. His difficulty with authority and
                        poor academics posed problems for his caregivers. Luckily, one last family was willing to take
                        a chance.</p>
                    <p class="card-text">After some intensive supports were put in place, David began to take
                        initiative at school and his outbursts at home became few and far between. Today, David is
                        attending Centennial College for small engine repair.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<read-more [links]="links"></read-more>