<div class="container page-container">

    <div class="row">
        <div class="col-12">
            <h1>About Safe Harbours Homes, Children and Foster Care</h1>
            <p class="subtitle">A History of Serving Children and Youth</p>
        </div>
    </div>
    <mat-divider class="mb-2"></mat-divider>
    <div class="row">
        <div class="col-12">
            <p>Safe Harbours Family Treatment Homes is a new foster care program in the
                province of Ontario. It was developed over the course of almost 4 years with the help of mental health
                professionals, existing foster care operators and several Children's Aid Societies.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <h2>The Safe Harbours Foster Care Team</h2>
        </div>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="chris-header-image"></div>
                    <mat-card-title>Chris Wilson</mat-card-title>
                    <mat-card-subtitle>Executive Director</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/chris-wilson-avatar.jpg" alt="Chris Wilson">
                <mat-card-content>
                    <p>
                        Chris is our Executive Director. He began working in foster care in 2008 for our sister
                        agency, <a href="https://annieshavens.ca" taget="_blank">Annie's Havens</a>. During
                        that time, he worked in all aspects of care from accounting to filling in as the
                        temporary Executive Director for Annie's Havens from 2011 - 2013.
                    </p>
                    <p>
                        He has had foster brothers and sisters since he was a young boy. Having that sibling
                        relationship with foster children taught him the nuances of what they face. Knowing
                        that children need more than services, that they need real care has always been on the
                        top of his mind.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="hilda-header-image"></div>
                    <mat-card-title>Hilda Wilson</mat-card-title>
                    <mat-card-subtitle>Home Study Practitioner</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/hilda-wilson.jpg" alt="Hilda Wilson">
                <mat-card-content>
                    <p>
                        Hilda is our Home Study Practitioner. Also, she is responsible for Placement Coordination at our
                        sister agency, <a href="https://annieshavens.ca" target="_blank">Annie's Havens</a>. Her care an
                        attention produces excellent Home Studies which improves our ability to make appropriate
                        placements.
                    </p>
                    <p>
                        From 1991 to 2017, Hilda fostered many children with her husband, Bill. Together, they have run
                        their foster care agency since 1996.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="thomas-header-image"></div>
                    <mat-card-title>Thomas Jones</mat-card-title>
                    <mat-card-subtitle>Clinical Director</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/thomas-jones-avatar.jpg" alt="Thomas Jones">
                <mat-card-content>
                    <p>
                        Thomas is an experienced clinical leader with a demonstrated history of success working across
                        various settings including hospital health care industry, as well as children's community
                        mental health, having held positions with cross ministerial involvement within
                        the province of Ontario.
                    </p>
                    <p>
                        He began his career working with youth and journeyed through various
                        front line experiences, leading him to progressive leadership positions, where he provides
                        oversight to diverse teams across the continuum of serviceds from community to health care
                        settings.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="hui-header-image"></div>
                    <mat-card-title>Hui Chen</mat-card-title>
                    <mat-card-subtitle>Administrator</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/images/hui-chen.jpg" alt="Hui Chen">
                <mat-card-content>
                    <p>
                        Hui (Kiko) is our Adminstrator. The amount of paperwork involved with foster
                        children can become overwhelming - Hui helps us keep our sanity.
                    </p>
                    <p>
                        An artist and CGI designer by trade, she enjoys her time organizing children's
                        files and checking for compliance issues. With a young family, the flexibility of
                        working with Safe Harbours has been very rewarding.
                    </p>
                    <p>
                        There will be lots for her to do once more homes join Safe Harbours.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="about-header-image"></div>
                    <mat-card-title>History</mat-card-title>
                    <mat-card-subtitle>Est. 2018</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>The team at Safe Harbours Family Treatment Homes has been working with foster children
                        for over 20 years. During this time, we have seen a sharp increase in the number of
                        children and youth requiring complex care regarding their mental health needs. Most
                        often, their mental health needs are stemming from severe early childhood traumas.</p>
                    <p>We took a look at what was currently available for these young people and the options
                        were quite limiting. They would be placed in unprepared foster homes, then moved
                        between several homes, finally ending up in a group home. For a young person to go
                        through this many changes, mostly of no fault of their own, was disheartening.</p>
                    <p>Our programs were developed between 2013 and 2015 by consulting with various foster and
                        group care agencies. Each agency had a unique aspect of their care program which was
                        working for their youth. Upon careful consideration, the best of those programs were
                        adopted by Safe Harbours, for example, providing a Child and Youth Worker (CYW) to
                        assist our youth with volunteer opportunities.</p>
                    <p>In 2018, after three years of working with the Government of Ontario, we were approved
                        to a license to recruit homes for the purpose of foster care.</p>
                    <p>Our mission is to do the most we can for youth in our care. Safe Harbours worked with
                        the Ministry of Children, Community and Social Services so we can hire the very best
                        CYWs, facilitate comprehensive training and provide excellent resources within the
                        agency to assist in case management. Each youth is different with different needs and
                        our programs are flexible enough to meet most challenges.</p>
                    <p>In closing, Safe Harbours is positioned to care for the children and youth that have
                        been left to shuffle between homes with no clear path to recovery and grim prospects
                        for their futures.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<read-more [links]="links"></read-more>