<div class="container page-container">
    <div class="row">
        <div class="col-12">
            <h1>Foster Care Per Diem</h1>
            <p class="subtitle">Funding for children in care.</p>
        </div>
    </div>
    <mat-divider class="mb-2"></mat-divider>
    <div class="row">
        <div class="col-12">
            <h2>How are foster parents paid?</h2>
            <p>It’s important to note that foster parents are not employees and caring for a foster child is not a job.
                This can be very confusing for newcomers to the child welfare system since caring for a child under any
                other circumstance where money is received would be a job such as babysitting, Personal Support Work,
                etc. This is important because while foster parents do have rights, they are not covered by any labour
                laws both provincially and federally. Also important to note, since the money received is not from
                employment it is <strong>not taxable</strong> and is not included in your income tax report – see <a
                    href="https://turbotax.intuit.ca/tips/foster-parents-and-social-assistance-5141" target="_blank"
                    rel="noreferrer noopener">Foster Parents and
                    Social Assistance, H&R Block</a>.
            </p>
            <p>
                Foster parents receive funding for every day a child is in their care. This funding is called a “per
                diem” meaning “for each day”. The per diem is <strong>not</strong> an income. The foster home receives a
                per diem for
                each child.
            </p>
            <p>
                <strong>Example 1:</strong> Timmy was placed in the home of Jane and John Jackson on the 1st of
                December. The Jacksons
                will begin to collect a per diem for Timmy starting on the 1st of December and will continue to receive
                that per diem until Timmy leaves the home (there is no per diem on the day he leaves). The per diem will
                be paid by cheque on a monthly basis on the 20th of the following month.
            </p>
            <p>
                <strong>Example 2:</strong> Tara needed temporary care and came to the Newman home on the 15th of
                January and left the
                home on the 23rd of January. The per diem cheque would be issued and dated for February 20th for 8 days
                of care (the day she left the home is not paid).
            </p>
            <p>
                <strong>Example 3:</strong> Derek and Angela were living at the Klein home for all of March. The Klein
                home will receive
                a cheque dated for April 20th for 62 days of care (31 days X 2 children).
            </p>

            <h2>Why do foster parents receive a per diem?</h2>
            <p>
                Raising children comes with a number of costs. To name a few main expenses:<br>
            </p>
            <ul>
                <li>Food</li>
                <li>Clothing</li>
                <li>Bedding</li>
                <li>School Fees</li>
                <li>Travel</li>
                <li>Recreational/Artistic Activities</li>
                <li>March Break and Summer Camps</li>
                <li>Gifts (birthdays, holidays, etc.)</li>
                <li>Misc. (phones, haircuts, toothpaste, allowances, etc.)</li>
            </ul>
            <p>
                The per diem is given to foster homes to cover the cost of these items. Here is a breakdown of how much
                of the per diem should, at minimum, be used to cover these expenses (these are based on the total for an
                average 30-day month and actual monthly costs will vary:
            </p>
            <table>
                <tr>
                    <th>Item</th>
                    <th class="amount amount-header">Amount ($)</th>
                </tr>
                <tr>
                    <td>Food</td>
                    <td class="amount">540</td>
                </tr>
                <tr>
                    <td>Clothing</td>
                    <td class="amount">120</td>
                </tr>
                <tr>
                    <td>School Fees</td>
                    <td class="amount">25</td>
                </tr>
                <tr>
                    <td>Travel</td>
                    <td class="amount">95</td>
                </tr>
                <tr>
                    <td>Recreational/Artistic Activities</td>
                    <td class="amount">90</td>
                </tr>
                <tr>
                    <td>March Break and Summer Camps</td>
                    <td class="amount">65</td>
                </tr>
                <tr>
                    <td>Gifts</td>
                    <td class="amount">45</td>
                </tr>
                <tr>
                    <td>Misc.</td>
                    <td class="amount">120</td>
                </tr>
                <tr class="total">
                    <td><strong>TOTAL</strong></td>
                    <td class="amount"><strong>1100</strong></td>
                </tr>
                <tr>
                    <td>*Food is set higher than average allowing for special dietary needs which may come up and for
                        homes who use organic ingredients.</td>
                </tr>
            </table>
            <p style="margin-top: 1rem;">
                It is important to note that you may spend more in one month on clothes and less in other months. Same
                goes for all the other categories. Clothing must be purchased new and of the same quality as your own
                children, if applicable, with the exception of infant clothing which is in good condition with no
                stains.
            </p>
            <h2>How much is given to cover childcare expenses?</h2>
            <p>
                The per diem foster parents receive in Ontario averages between $45 - $70 (remember this is for each
                day). Safe Harbours recognized that when children are engaged in recreational, artistic and educational
                opportunities they have better outcomes. These opportunities also come with a cost. Therefore, we offer
                a premium on the provincial per diem average at $75 - $95. Almost all homes will start at $75 unless
                they have relevant previous foster care experience and/or extensive training in children’s mental health
                and trauma.
            </p>
            <p>
                We also recognize that foster parents require additional training and should be following the policies
                of Safe Harbours. Foster homes who attend training on a regular basis and are compliant with our
                policies will receive an additional $5 on their per diem for each child. There is additional funding for
                relief at $10 on the per diem for each child (see Relief section below, basically relief is time
                off).
                The total that the home will receive from the per diem is $75 base + $5 training/compliance bonus + $10
                relief funding totalling $90 per day for each child. An average 30-day month will add up to $2700.
            </p>
            <p>
                You may notice that the per diem foster parents receive is higher than the average cost of caring for a
                child. This allows foster parents to spend more in certain areas if they wish, or if directed by Safe
                Harbours (i.e. extra activities, specialized camp, etc.). If the foster parents are providing all of the
                care items and the child has opportunities to do recreational/artistic opportunities without any
                concerns they can keep whatever is left over to help with other home costs such as mortgage, property
                tax, insurance, etc. The amount that is kept is not taxable and foster parents must not try to reduce
                their child’s expenses to increase the amount left over.
            </p>
            <h2>Exceptions</h2>
            <p>
                While the per diem is paid to cover childcare expenses there are some costs which are reimbursed or
                covered by a third party. These are:
            </p>
            <ul>
                <li>Dental work</li>
                <li>Prescriptions (over the counter medications excluded unless prescribed by a physician)</li>
                <li>
                    Travel beyond 200km per month @ $0.38/km
                    <ul>
                        <li>First 200km covered by the per diem</li>
                        <li>To/from appointments</li>
                        <li>To/from dropping off child for visits with family (access visit)</li>
                        <li>NOT for family travel such as going to the movies, Niagara Falls, etc.</li>
                    </ul>
                </li>
                <li>Partial portion of high cost camps</li>
                <li>Medical devices</li>
                <li>
                    Clothing for children who have inadequate amounts upon arrival
                    <ul>
                        <li>Create inventory of clothing</li>
                        <li>Identify what is needed (taking seasonal needs into account)</li>
                        <li>Create a rough estimate and ask for approval</li>
                        <li>NOT for clothing beyond the initial arrival unless there are extreme circumstances</li>
                    </ul>
                </li>
                <li>
                    Dietary needs which are prohibitively expensive
                    <ul>
                        <li>Food portion of the per diem will be deducted from the reimbursement</li>
                        <li>This has to be discussed and approved</li>
                    </ul>
                </li>
            </ul>
            <h2>Relief</h2>
            <p>
                Everybody needs a break from their kids once in a while and that includes foster parents. The $10 per
                day for each child for relief allows foster parents to make arrangements for overnight babysitters or,
                if needed, professional caregivers to stay at the foster home while the parents can relax and get out of
                the house. When there is another foster home in the area that is capable of caring for the child then
                arrangements can be made for the child to stay at the other home for the weekend. The foster parents pay
                the caregiver directly.
            </p>
            <p>
                Relief caregivers need to have the same screening and paperwork as support staff. Due to this
                requirement most relief is given by a child's support worker.
            </p>
            <h2>Conclusion</h2>
            <p>Foster parenting is an important safety net for vulnerable children. While it isn't a job it is a highly
                rewarding way of life with it's hard challenges and tremendous successes. If you have further questions
                please <a [routerLink]="['/', 'contact']"></a>contact us.</p>
        </div>
    </div>
</div>