<div class="container-fluid py-5" id="whatwedo">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h2>HOW WE HELP FOSTER CHILDREN</h2>
            <p class="subtitle">Safe and Loving Homes</p>
          </div>
        </div>
        <div class="row mb-4 mb-lg-0">
          <div class="col pr-lg-5">
            <p>Safe Harbours is a therapeutic and treatment foster care agency licensed by the Government of Ontario.</p>
            <p>We provide foster homes for children with a wide spectrum of needs related to childhood traumas.</p>
            <p>Our Clinical Director organizes a Care Plan which addresses the immediate needs of the child's well-being.</p>
            <!-- <button mat-button color="primary" class="mt-2 mt-lg-3">
              <span>Explore Our Programs</span>
              <mat-icon>chevron_right</mat-icon>
            </button> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col" style="text-align: center;">
              <img src="assets/images/what-we-do-768x576.jpg" alt="What We Do" class="responsive styled right">
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>