nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    .brand {
        font-weight: 300;
    }

    .nav-item {
        margin-right: 0.5rem;
        color: #54617a;
        font-weight: 400;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            color: #333;
        }
    }


    .nav-item.active-link {
        color: white;
        background: #228ae6;
        box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
    }
}

.brand-logo {
    height: 48px;
    width: auto;
}

.social-link {
    color: #54617a;
    margin-right: 0.5rem;

    &:last-of-type {
        margin-right: 0;
    }
}