<mat-divider class="d-lg-none mt-4 mb-3"></mat-divider>
<div class="container mt-lg-5">
  <div class="row">
    <div class="col">
      <h2>Mainstream Foster Care Program</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        All Ontario foster children come into care with some degree of trauma and unique considerations. Part of our training program is devoted to covering some of the expected behaviours and how to cope with those with a supportive lens.
      </p>
      <p>
        That being said, children in our mainstream program present with far fewer of these unique needs and a low degree of trauma-related behaviours. Mainstream children represent a lower percentage of our foster child group as these children tend to be placed with Children's Aid foster homes, though this is not always the case.
      </p>
      <p>
        Many of the people looking to become foster parents in Ontario would do well in this category. With in-service training and some time spent caring for special needs and traumatized kids, these parents can upgrade their skillset to work with more complex children. The per diem - amount per day, per child given to the foster parent(s) - is $90 - $100 (i.e. two (2) children @ $90/day multiplied by a thirty (30) day month = $5400 - or $65,700 per year).
      </p>
    </div>
  </div>
</div>