<mat-divider class="d-lg-none mt-4 mb-3"></mat-divider>
<div class="container mt-lg-5">
  <div class="row">
    <div class="col">
      <h2>Trauma Focused Foster Care Program</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        A program that is trauma-focused has pre-service training for caregivers which covers topics such as, but not
        limited to: sexual assault and exploitation, human trafficking, severe neglect, general maltreatment. The
        purpose of having a trauma-informed care program and foster home environment is to have caregivers who
        understand the range of traumatic experiences and the emotional by-products that manifest in abnormal social
        interactions, self-harm, substance abuse, multiple sexual partners, interactions with law enforcement.
      </p>
      <p>
        Caregivers trained in trauma-focused care will be more accepting, accommodating and understanding of the issues
        the youth placed with Safe Harbours face. They will have a better understanding of the treatment options
        available, their efficacy and target patient group. Trauma-informed caregivers will have more meaningful dialog
        with mental health service professionals if they have a firm understanding of the many components of PTSD and
        other trauma-related disorders.
      </p>
      <p>
        The per diem - amount per day, per child given to the foster parent(s) - is $95 - $105 (i.e. two (2) children @
        $95/day multiplied by a thirty (30) day month = $5700 - or $69,350 per year.
      </p>
    </div>
  </div>
</div>