<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-2 mt-lg-0 order-last order-lg-first">
        <div class="row">
          <div class="col" style="text-align: center;">
            <img src="assets/images/who-we-are-768x576.jpg" alt="Who Are We" class="responsive styled left">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 pl-lg-5">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h2>FOSTER CARE SERVICES FOR CHILDREN WITH TRAUMA NEEDS</h2>
            <p class="subtitle">Foster Care Professionals</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Our foster parents and staff receive high quality training. This training provides a solid foundation to meet the unique needs of each child.</p>
            <p>Each home is assigned a "Resource Worker" to help with organization and coordinating with Children's Aid.</p>
            <p>Professionally trained staff help each child meet their goals and give feedback to the foster parents.</p>
            <!-- <button mat-button color="primary" class="mt-3">
              <span>About Safe Harbours</span>
              <mat-icon>chevron_right</mat-icon>
            </button> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>