footer {

    padding: 2rem 0;
    line-height: 60px;
    background: #228ae6;
    color: white;

    p {
        color: white;
    }

    .subheading {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .links {
        padding-top: 18px;
        font-size: 14px;
        font-weight: 300;
    }

    ul {
        list-style: none;
        line-height: 28px;
        padding: 0;

        .sublink {
            font-size: 12px;
        }
    }

}