<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 offset-lg-1 links">
        <p class="subheading">Pages</p>
        <ul>
          <li>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/', 'foster-care-stories']">Stories</a>
          </li>
          <li>
            Programs<br>
            <a class="sublink" [routerLink]="['/', 'programs', 'mainstream-foster-care']">&nbsp; - Mainstream Program</a><br>
            <a class="sublink" [routerLink]="['/', 'programs', 'trauma-focused-foster-care']">&nbsp; - Trauma-Focused
              Program</a><br>
            <a class="sublink" [routerLink]="['/', 'programs', 'behavioural-foster-care']">&nbsp; - Behavioural Program</a>
          </li>
          <li>
            <a [routerLink]="['/', 'frequently-asked-questions']">FAQ</a>
          </li>
          <li>
            <a [routerLink]="['/', 'contact']">Contact</a>
          </li>
          <li>
            <a [routerLink]="['/', 'apply-to-foster']">Apply</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 links">
        <p class="subheading">Privacy Policy</p>
        <p>Safe Harbours Family Treatment Homes Ltd. does not sell or otherwise share user information with any 3rd
          party with the exception of services required to facilitate emails and site analytics.</p>
        <p>The information shared with 3rd party service providers includes only information submitted via our contact
          forms or information publicly available such as your public IP address.</p>
      </div>
    </div>
  </div>
</footer>