<mat-divider class="d-lg-none mt-4 mb-3"></mat-divider>
<div class="container mt-lg-5">
  <div class="row">
    <div class="col">
      <h2>Behavioural Foster Care Program for Children</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        A significant number of children and youth coming into care have experienced trauma, often chronic and complex trauma. A residential program that is trauma-informed has foster parents and staff who are trained to understand and manage the range and impact of traumatic experiences and the emotional by-products that manifest for children and youth in social interactions such as self-harm, substance abuse, interactions with law enforcement and other first responders.
      </p>
      <p>
        These children are difficult to serve and require a very structured support plan which includes intensive help from trained professionals. Foster parents who have extensive experience in our Trauma-Focused Program can apply for additional training to care for these hard-to-serve children and youth. Remember, every child needs a home.
      </p>
      <p>
        The per diem - amount per day, per child given to the foster parent(s) - is $100 - $110 (i.e. two (2) children @ $100/day multiplied by a thirty (30) day month = $6000 - or $72,00 per year. Some children in this category require such a high level of support that other children may not be placed in the home. For those instances, we request that the Children's Aid Society purchase an additional space in the home which doubles the support and the per diem would become $200 - $220.
      </p>
    </div>
  </div>
</div>